body{
	margin:0px;
	padding:0px;
	background: #DDD;
}

.img1{
	background-image: url("./images/sprite.png");
    background-position: -0px -106px;
    background-size: 65px 169px!important;
}
.img2{
	background-image: url("./images/sprite.png");
    background-position: -0px -52px;
    background-size: 65px 169px!important;
}
.img3{
	background-image: url("./images/sprite.png");
    background-position: -0px -0px;
    background-size: 65px 169px!important;
}
