body{
	margin:0px;
	padding:0px;
	background: #DDD;
}

.img1{
	background-image: url(./images/1.png);
}
.img2{
	background-image: url(./images/2.png);
}
.img3{
	background-image: url(./images/3.png);
}
